:root {
    /* colour palette */
    --main: #eecfd4;
    --secondary: #EF476F;
    --third: #FFD166;
    --fourth: #06D6A0;
    --fifth: #074F57;
}

body {
    background-color: var(--main);
}

h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
    font-size: 80px;
    text-align: center; /* centrar texto*/
}

nav li {
    display: inline-block;
    margin-right: 14px;
    font-family: 'Nanum Myeongjo', serif;
}

nav {
    text-align: center;
    background-color:var(--secondary);
    padding: 10px 0px;
}

nav a {
    color: var(--third);
    text-decoration: none;
}

nav a:hover {
    color:var(--fourth);
}

h1 a {
    color: var(--fifth);
    text-decoration: none;
}

img {
    border: 5px solid var(--fourth);
}

img:hover {
    border: 5px solid var(--third);
}

main {
    margin: auto;
    width: 70%;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.blog-entry {
    padding: 2em;
}